<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}

<div class="slds-page-header slds-page-header_object-home">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-lead">
            <svg class="slds-icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-text-title_caps slds-line-height_reset">Leads</p>
          <h1 class="slds-page-header__title slds-p-right_x-small">
            <button class="slds-button slds-button_reset slds-type-focus slds-truncate" aria-haspopup="true" title="">
              <span class="slds-grid slds-has-flexi-truncate slds-grid_vertical-align-center">
                <span class="slds-truncate" title="this should match My Leads">My Leads</span>
                <svg class="slds-button__icon slds-button__icon_right slds-no-flex" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
              </span>
            </button>
          </h1>
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom_xx-small">
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button_neutral">New Lead</button>
        <button class="slds-button slds-button_neutral">Import Leads</button>
        <div class="slds-button_last">
          <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="More Actions">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
            <span class="slds-assistive-text">More Actions</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-grid">
    <div class="slds-col slds-align-bottom">
      <p class="slds-text-body_small">10 items • Sorted by Name</p>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
      <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_x-small" aria-expanded="false">
        <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="List View Controls">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
          </svg>
          <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">List View Controls</span>
        </button>
      </div>
      <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_xx-small" aria-expanded="false">
        <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="Change view">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
          </svg>
          <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">Change view</span>
        </button>
      </div>
      <button class="slds-button slds-button_icon slds-m-left_xx-small slds-button_icon-border" title="Edit List">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
        </svg>
        <span class="slds-assistive-text">Edit List</span>
      </button>
      <button class="slds-button slds-button_icon slds-m-left_xx-small slds-button_icon-border" title="Refresh">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
        </svg>
        <span class="slds-assistive-text">Refresh</span>
      </button>
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button_icon slds-button_icon-border" title="Charts">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
          </svg>
          <span class="slds-assistive-text">Charts</span>
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-border" title="Filters">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
          </svg>
          <span class="slds-assistive-text">Filters</span>
        </button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
